.my-account {
    margin-top: -15px;
}

.my-account .nav {
    margin-bottom: 15px;
}

.my-account .nav.nav-pills>li.active>a {
    background-color: #ab1c5a;
}

img.winePhoto {
    width: 59px;
    height: 139px;
    border-radius: 8px;
}

.btn.camera {
    color: #333;
    padding-top: 0;
    padding-bottom: 0;
}