nav.topMenu {
    border-radius: 0;
    margin-bottom: 0;
}

nav.topMenu .navbar-nav>li>a {
    text-transform: uppercase;
} 
nav.topMenu .navbar-nav>li>.dropdown-menu {
    background-color: #2D2D2D;
}
nav.topMenu .navbar-nav>li>.dropdown-menu a {
    color: #868686;
    display: block;
}
nav.topMenu .navbar-nav>li>.dropdown-menu a:hover {
    color: white;
    text-decoration: none;
    background: none;
}
nav.topMenu li.dropdown-menu>ul>div>li>a {
    padding: 5px 20px;
}
nav.topMenu .navbar-nav>li>.dropdown-menu>div a {
    padding: 3px 0;
}
@media (min-width: 768px){
    nav.topMenu .dropdown:hover .dropdown-menu {
        display: flex;
        flex-direction: column;
    }
    nav.topMenu .dropdown.hasCols .dropdown-menu {
        flex-direction: inherit;
    }
    nav.topMenu .navbar-nav>li .submenu {
        float: left;
        margin: 10px;
        min-width: 160px;
    }
    nav.topMenu .navbar-nav>li .submenu:first-child {
        margin-left: 20px;
    }
}

nav.topMenu .dropdown-header {
    display: inherit;
    padding: 0;
    font-size: 1.6rem;
    color: white;
}