.account {
    background-color: rgba(45, 45, 45, 0.85);
}
.account #dropdownButton {
    background: none;
    border-color: rgba(45, 45, 45, 0);
    color: white;
}
.account #dropdownButton:hover {
    background: #333;
    color: white;
}
.account .open #dropdownButton {
    background: #222;
    border-color: rgba(45, 45, 45, 0.85);
    color: white;
}
.account #dropdownMenu {
    background: #222;
    color: white;
}
.account #dropdownMenu a {
    color: white;
}
.account #dropdownMenu a:hover {
    background-color: #333;
}
.account #dropdownMenu .divider {
    background: #777;
}

.brand h1 {
    font-size: 0;
    width: 233px;
    height: 48px;
    margin: 20px 0;
    background-image: url('../../assets/sprites/horizontal.png');
}

.brand .phone {
    margin-top: 10px;
    font-size: 2.1rem;
}
.brand .phone .call-us {
    font-size: 1.4rem;
    color: #868686;
}

.brand .search-bar {
    margin-top: 30px;
}
.brand .search-bar a {
    font-size: 1.8rem;
}

.promoLink {
    text-transform: uppercase;
    background-color: #7A003B;
}
.promoLink a.btn {
    background-color: #7A003B;    
}
.promoLink a.btn:hover {
    background-color: #510027;    
}