/*
@current-purple: #ab1c5a;
@current-purple-hover: #6F113A;
@primary-purple-dark: #510027;
@primary-purple-normal: #7A003B;
@primary-purple-light: #B71E5B;

@primary-grey-dark: #2D2D2D;
@primary-gray-normal: #5A5A5A;
@primary-gray-light: #868686;

@secondary-beige: #DFD8B5;
@secondary-green: #7FA23E;
@secondary-purple: #692C91;*/

a {
  color: #ab1c5a;
}

a:hover {
  color: #6F113A;
}

.btn-primary {
  background-color: #ab1c5a;
  color: white;
  border-color: #7A003B;
}

.btn-primary:hover {
  background-color: #6F113A;
  color: white;
}

.btn-link {
    color: #ab1c5a;
}
  
.btn-link:hover {
    color: #6F113A;
}

@media (min-width: 768px){
  .navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
  }
}

/*snake in circles*/
.loader-circle-head,
.loader-circle-head:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.loader-circle-head {
    display: inline-block;
    line-height: 22px;
    font-size: 3px;
    position: relative;
    color: rgba(0,0,0,0);
    border-top: 1.1em solid rgba(171, 28, 90, 0.4);
    border-right: 1.1em solid rgba(171, 28, 90, 0.4);
    border-bottom: 1.1em solid rgba(171, 28, 90, 0.4);
    border-left: 1.1em solid rgb(171, 28, 90);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader-circle-head.big,
.loader-circle-head.big:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    font-size: 8px;
    animation-duration: 1.7s;
}

.loader-circle-head.white {
    border-top: 1.1em solid rgba(255, 255, 255, 0.3);
    border-right: 1.1em solid rgba(255, 255, 255, 0.3);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.3);
    border-left: 1.1em solid rgba(255, 255, 255, 0.9);
}

.loader-circle-head.gray {
    border-top: 1.1em solid rgba(134, 134, 134, 0.2);
    border-right: 1.1em solid rgba(134, 134, 134, 0.2);
    border-bottom: 1.1em solid rgba(134, 134, 134, 0.2);
    border-left: 1.1em solid rgba(134, 134, 134, 0.7);
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
