/*
@current-purple: #ab1c5a;
@current-purple-hover: #6F113A;
@primary-purple-dark: #510027;
@primary-purple-normal: #7A003B;
@primary-purple-light: #B71E5B;

@primary-grey-dark: #2D2D2D;
@primary-gray-normal: #5A5A5A;
@primary-gray-light: #868686;

@secondary-beige: #DFD8B5;
@secondary-green: #7FA23E;
@secondary-purple: #692C91;*/

.app a {
  color: #ab1c5a;
}

.app a:hover {
  color: #6F113A;
}

.app .btn-primary {
  background-color: #ab1c5a;
  color: white;
  border-color: #7A003B;
}

.app .btn-primary:hover {
  background-color: #6F113A;
  color: white;
}
