nav.topMenu {
    border-radius: 0;
    margin-bottom: 0;
}

nav.topMenu .navbar-nav>li>a {
    text-transform: uppercase;
} 
nav.topMenu .navbar-nav>li>.dropdown-menu {
    background-color: #2D2D2D;
}
nav.topMenu .navbar-nav>li>.dropdown-menu a {
    color: #868686;
    display: block;
}
nav.topMenu .navbar-nav>li>.dropdown-menu a:hover {
    color: white;
    text-decoration: none;
    background: none;
}
nav.topMenu li.dropdown-menu>ul>div>li>a {
    padding: 5px 20px;
}
nav.topMenu .navbar-nav>li>.dropdown-menu>div a {
    padding: 3px 0;
}
nav.topMenu .navbar-nav>li.hasCols-2>.dropdown-menu {
    min-width: 250px;
}
nav.topMenu .navbar-nav>li.hasCols-3>.dropdown-menu {
    min-width: 450px;
}
nav.topMenu .navbar-nav>li.hasCols-4>.dropdown-menu {
    min-width: 450px;
}
nav.topMenu .navbar-nav>li.hasCols-5>.dropdown-menu {
    min-width: 625px;
}
nav.topMenu .navbar-nav>li.hasCols-6>.dropdown-menu {
    min-width: 700px;
}

nav.topMenu .dropdown:hover .dropdown-menu {
    display: block;
}
nav.topMenu .dropdown-header {
    display: inherit;
    padding: 0;
    font-size: 1.6rem;
    color: white;
}