.testimonial {
    background-color: #565656;
}
.testimonial .jumbotron {
    position: relative;
    padding: 15px 0;
    margin: 0;
    color: #FFF;
    background: none;
}
.testimonial .jumbotron p {
    position: relative;
    font-size: 2.7rem;
    font-weight: 400;
}
.testimonial .jumbotron .author {
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
}
.testimonial .quote {
    color: #777;
}
.testimonial .quote {
    display: inline-block;
    font-size: 15rem;
    position: absolute;
    line-height: .9em;
    text-shadow: 0 0 32px #777;
    top: 0;
    left: 0;
}