.body-holder {
    position: relative;
}
.main-bg {
  background-image: url('../../assets/brand-1-texture.jpg');
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.body {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}
.bheader {
    margin-top: 70px;
    position: relative;
    height: 80px;
    line-height: 80px;
    padding: 0 20px 0 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.bheader h2 {
    font-weight: 300;    
}
.bcontent {
    background-color: white;
}
.bfooter{
    background: url('../../assets/sprites/horizontal.png') center 100% no-repeat;
    height: 13px;
    margin-bottom: 15px;
}