footer {
    color: #868686;
    background-color: #2D2D2D;
}

footer h4 {
    color: #EDEDED;
}

footer .copy {
    font-size: 1.2rem;
}
footer .copy a {
    color: #FFF;
}

footer .newsletter-link{
    display: block;
    font-size: 2.3rem;
    margin: 30px 0;
    color: #FFF;
    height: 60px;
    padding: 12px 0px;
    background: url('../../assets/sprites/horizontal.png') 110px -313px no-repeat;
}
footer .newsletter-link:hover{
    background-color: #4c4c4c;
}
footer .newsletter-link:hover .signup{
    color: #FFF;
}

footer .newsletter-link .signup{
    color: #868686;
}

.app footer a.link {
    display: block;
    color: #868686;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}
.app footer a:hover {
    color: #FFF;
    text-decoration: none;
}

footer .contact .call {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 0.9em
}

footer .contact .big {
    font-size: 1.8em;
    font-weight: 600;
}
footer .contact .big a {
    color: #FFF;
}

footer .address {
    border: 1px solid #4c4c4c;
    border-left: none;
    border-right: none;
    padding: 15px 0 10px 0;
    margin: 15px 50px 0;
}

footer .social ul li a{
    display: block;
    width: 41.25px;
    height: 40px;
    background: url('../../assets/sprites/vertical.png') 0 -949px no-repeat;
    font: 0/0 a;
}

footer .social ul li a.facebook {
    background-position: 14px -949px;
}
footer .social ul li a.twitter {
    background-position: 11px -1005px;
}

footer .social ul li a.pinterest {
    background-position: 8px -1061px;
}
footer .social ul li a.youtube {
    background-position: 9px -1117px;
}

footer .social ul li a.facebook:hover {
    background-position: 14px -1173px;
}
footer .social ul li a.twitter:hover {
    background-position: 11px -1229px;
}
footer .social ul li a.pinterest:hover {
    background-position: 8px -1285px;
}
footer .social ul li a.youtube:hover {
    background-position: 9px -1341px;
}
footer .footer-logo-bbb {
    height: 84px;
    width: 52px;
    background: url('../../assets/sprites/horizontal.png') no-repeat 0 -142px;
    margin: 0 auto;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

footer .footer-cards {
    height: 38px;
    width: 314px;
    background: url('../../assets/sprites/horizontal.png') no-repeat 0 -255px;
    margin: 20px auto 20px;
}

